.calendario {
    width: 200px;
    border: 5px solid black;
    margin: 10px;
    padding: 5px;
}
h1{
    color:rgb(255, 0, 0);
    font-size: 60px;
    background-color: black;
}
.hora{
    background-color: brown;
    margin: 5px;
    padding: 5px;
}

.Hora{
    width: 200px;
    border-radius: 5%;
    border: 5px solid black;
    margin: 5px;
    padding: 5px;

}
.fechas{
   margin: 10px 0px 0px 50px;
    
}
.fechas1{
    background-color: aqua;
    margin: 10px 0px 0px 50px;
    right: 50px;
    
   
}
.fechaPadre{
    display: flex;
    position: relative;
}

.turno{
    display: flex;
}

#crearUser{
    position: relative;
    margin: 20px ;
    display: flex;
}

.canival{
    
    width: 80px;
    height: 20px;
    background-color: #ff4f4f;
    margin: 0 20px 20px 0;
    text-align: center;
    line-height: 150px;
    user-select: none;
}