*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    font-weight: 450;
    font-style: normal;
    /*background-color: #830006;*/
    
}

.navegador{
    display: flex;
    justify-content: end;
    background-color: #D71200;
    list-style-type: none;
    height: 60px;
}

.navegador a{
    
    padding: 10px;
    margin: 5px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}
.calendario {
    background-color: #f55344;
    width: 200px;
    border: 5px solid black;
    margin: 10px;
    padding: 10px;
}
.calendario h2{
    padding: 10px;
    /*color: #F9C5C5;*/
    color: white;
}
.titulo-principal{
    font-weight: bold;
}
h1{
    color:rgb(255, 0, 0);
    font-size: 40px;
    background-color: black;
}
.botonAcceder{
    padding: 10px;
    padding: 5px;
    background-color: #D71200;
    border-radius: 5px;
    color: #F9C5C5;
}
.hora{
    background-color: brown;
    margin: 5px;
    padding: 5px;
}

.Hora{
    width: 200px;
    border-radius: 5%;
    border: 5px solid black;
    margin: 5px;
    padding: 5px;

}
.fechas{
   margin: 10px 0px 0px 50px;
    
}
.fechas1{
    background-color: aqua;
    margin: 10px 0px 0px 50px;
    right: 50px;
    
   
}
.fechaPadre{
    display: flex;
    position: relative;
}

.turno{
    display: flex;
    flex-wrap: wrap;
}

#crearUser{
    position: relative;
    margin: 20px ;
    display: flex;
}

.canival{
    
    width: 80px;
    height: 20px;
    background-color: #ff4f4f;
    margin: 0 20px 20px 0;
    text-align: center;
    line-height: 150px;
    user-select: none;
}
.button_inicio{
    display: none;
}
.usuarioYcontrsenia{
    display: none;
}
.alumnos{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
    margin: 5px;
}
.noVer{
    display: none;
}

.divProfes{
    width: 200px;
    border: 5px solid black;
    margin: 10px;
    padding: 5px;
}
.divProfes img{
    width: 100px;
    height: 100px;
}
#targetProfes{
    display: flex;
}
.footer{
    height: 200px;
    background-color: #D71200;
}