.dia1{
    width: 50px;
    border: 5px solid black;
    padding: 20px;
    background-color: yellow;
}

.fui{
    width: 50px;
}

.verde{
    background-color: green ;
}
.rojo{
    background-color:  red;
}